.App-logo {
  height: 40vmin;
  pointer-events: none;

}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
}

.Message {
  border-radius: 0%;
  -webkit-box-shadow: 5px 5px 8px -4px #000000; 
  box-shadow: 5px 5px 8px -4px #000000;
}

.Name {
 border-radius: 0%;
 -webkit-box-shadow: 5px 5px 8px -4px #000000; 
 box-shadow: 5px 5px 8px -4px #000000;
}


.Email {
  border-radius: 0%;
 -webkit-box-shadow: 5px 5px 8px -4px #000000; 
  box-shadow: 5px 5px 8px -4px #000000;
}

